<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>com.daolou.adcode</string>
		<key>category</key>
		<string>Tools</string>
		<key>connections</key>
		<dict>
			<key>44C09E63-228B-4107-9503-8D93FAFBB9C4</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>7E2BBFB1-9AC1-4C94-A3C9-6790CFA47804</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>createdby</key>
		<string>daolou</string>
		<key>description</key>
		<string>根据区域码或中文名获取行政信息</string>
		<key>disabled</key>
		<false/>
		<key>name</key>
		<string>adcode</string>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false/>
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttreatemptyqueryasnil</key>
					<false/>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>ad</string>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<true/>
					<key>queuedelaymode</key>
					<integer>1</integer>
					<key>queuemode</key>
					<integer>2</integer>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./node_modules/@jsany/aw/runtime/tjs index.js "$1"</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string>index.js</string>
					<key>subtext</key>
					<string>ex: ad 110000</string>
					<key>title</key>
					<string>ad {search}</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>44C09E63-228B-4107-9503-8D93FAFBB9C4</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>autopaste</key>
					<false/>
					<key>clipboardtext</key>
					<string>{query}</string>
					<key>ignoredynamicplaceholders</key>
					<false/>
					<key>transient</key>
					<false/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.output.clipboard</string>
				<key>uid</key>
				<string>7E2BBFB1-9AC1-4C94-A3C9-6790CFA47804</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>readme</key>
		<string></string>
		<key>uidata</key>
		<dict>
			<key>44C09E63-228B-4107-9503-8D93FAFBB9C4</key>
			<dict>
				<key>xpos</key>
				<integer>240</integer>
				<key>ypos</key>
				<integer>170</integer>
			</dict>
			<key>7E2BBFB1-9AC1-4C94-A3C9-6790CFA47804</key>
			<dict>
				<key>xpos</key>
				<integer>405</integer>
				<key>ypos</key>
				<integer>170</integer>
			</dict>
		</dict>
		<key>variables</key>
		<dict>
			<key>ADCODE_API_URL</key>
			<string>https://restapi.amap.com/v3/config/district</string>
			<key>ADCODE_KEY</key>
			<string></string>
			<key>ADCODE_SUBDISTRICT</key>
			<string>0</string>
		</dict>
		<key>variablesdontexport</key>
		<array>
			<string>ADCODE_KEY</string>
		</array>
		<key>version</key>
		<string></string>
		<key>webaddress</key>
		<string>https://github.com/daolou/alfred-adcode</string>
	</dict>
</plist>
